name: 40kbooks
markdown: redcarpet
pygments: true
permalink: pretty
baseurl: /
authorurl: /static/author/
coverurl: /static/cover/resize

exclude: ['README.md', less, models]

authors:
  Matteo Scurati:
    display_name: Matteo Scurati
    image: /static/firme/matteo_scurati.png
    web: http://www.lospaziodellapolitica.com/
    twitter: MatteoScurati
    quote: "Vedere tutto, sopportare molto, correggere una cosa per volta"
    google:

mini_magick:
    photo-thumbnail:
        source: static/author/
        destination: static/author/photo-thumbnail
        resize: "100x100"
    cover-thumbnail:
        source: static/cover/
        destination: static/cover/resize
        resize: "650x910"
    cover-small:
        source: static/cover/
        destination: static/cover/resize/small
        resize: "300x420"