name: 40kbooks
markdown: redcarpet
pygments: true
permalink: /blog/:year/:month/:day/:title/
paginate: 15
paginate_path: "blog/page:num"
url: http://www.40k.it
baseurl: /
authorurl: /static/author/
authorurl_thumb: /static/author/photo-thumbnail/
coverurl: /static/cover/resize
postimageurl: /static/img/
safe: false
encoding: UTF-8

exclude: ['README.md', Gemfile, Gemfile.lock, less, models]

sitemap:
    file: "/sitemap.xml"
    exclude:
        - "/atom.xml"
        - "/feed.xml"
        - "/feed/index.xml"
    include_posts:
        - "/index.html"
    change_frequency_name: "change_frequency"
    priority_name: "priority"

lunr_search:
  excludes: [sitemap.xml, rss.xml, atom.xml]

authors:
  Matteo Scurati:
    display_name: Matteo Scurati
    image: /static/firme/matteo_scurati.png
    web: http://www.lospaziodellapolitica.com/
    twitter: MatteoScurati
    quote: "Vedere tutto, sopportare molto, correggere una cosa per volta"
    google:
  Daria Bernardoni:
    display_name: Daria Bernardoni
    image: /static/firme/daria_bernardoni.jpg
    web: http://www.filodaria.it
    twitter: filodaria
    quote:
    google:
  Sandro Bocchio:
    display_name: Sandro Bocchio
    image: /static/firme/sandro_bocchio.jpg
    twitter: sandrobocchio
    quote:
    google:
  40k Team:
    display_name: 40k Team
    image: /static/firme/40k_team.jpg
    twitter: 40kbooks
    quote: "Smart ebook for smart people"
    facebook:

image:
  source: /static/img/
  presets:
    imgresponsive:
      attr:
        class: f-post-img-responsive lazy
        itemprop: image

mini_magick:
    photo-thumbnail:
        source: static/author/
        destination: static/author/photo-thumbnail
        resize: "100x100"
    cover-thumbnail:
        source: static/cover/
        destination: static/cover/resize
        resize: "650x910"
    cover-small:
        source: static/cover/
        destination: static/cover/resize/small
        resize: "300x420"
