name: 40kbooks
markdown: redcarpet
pygments: true
permalink: pretty
baseurl: /

exclude: ['README.md', less]

authors:
  Matteo Scurati:
    display_name: Matt Hackett
    image: /static/author/matteo_scurati.png
    web: http://www.lospaziodellapolitica.com/
    twitter: MatteoScurati
    quote: Vedere tutto, sopportre molto, correggere una cosa per volta
    google:
  Daria Bernardoni:
    display_name:
    image:
    web:
    twitter:
    quote:
    google:

picture:
  output: generated
  markup: "picturefill"
  presets:
    default:
      attr:
        class: "post-img"
      source_default:
        width: "360"
        height: "771"
      source_720:
        width: "720"
        media: "(min-device-pixel-ratio: 1.5)"
      source_430:
        width: "430"
        media: "(min-width: 360px)"
      source_860:
        width: "860"
        media: "(min-width: 360px) and (min-device-pixel-ratio: 1.5)"
      source_500:
        width: "500"
        media: "(min-width: 430px)"
      source_1000:
        width: "1000"
        media: "(min-width: 430px) and (min-device-pixel-ratio: 1.5)"
      source_640:
        width: "640"
        media: "(min-width: 500px)"
      source_1280:
        width: "1280"
        media: "(min-width: 500px) and (min-device-pixel-ratio: 1.5)"
    articleimg:
      attr:
        class: "post-img"
      source_1200:
        width: "1200"
        media: "(min-width: 940px)"
      source_940:
        width: "940"
        media: "(min-width: 780px)"
      source_780:
        width: "780"
        media: "(min-width: 600px)"
      source_600:
        width: "600"
        media: "(min-width: 470px)"
      source_470:
        width: "470"
        media: "(min-width: 360px)"
      source_default:
        width: "360"