name: 40kbooks
title: 40k - Smart Ebooks for Smart People
markdown: redcarpet
pygments: true
permalink: /blog/:year/:month/:day/:title/
paginate: 15
paginate_path: "blog/page:num"
paginate_categories: 15
url: http://www.40k.it
baseurl: /
authorurl: /static/author/
authorurl_thumb: /static/author/photo-thumbnail/
coverurl: /static/cover/resize
postimageurl: /static/img/
safe: false
encoding: UTF-8
category_dir: /blog/categories/
category_international_dir: /international/blog/ 

exclude: ['README.md', Gemfile, Gemfile.lock, less, models]

sitemap:
    file: "/sitemap.xml"
    exclude:
        - "/atom.xml"
        - "/feed.xml"
        - "/feed/index.xml"
    include_posts:
        - "/index.html"
    change_frequency_name: "change_frequency"
    priority_name: "priority"

lunr_search:
  excludes: [sitemap.xml, rss.xml, atom.xml]

authors:
  Matteo Scurati:
    display_name: Matteo Scurati
    image: /static/firme/matteo_scurati.jpg
    web: http://www.lospaziodellapolitica.com/
    twitter: MatteoScurati
    quote: "Vedere tutto, sopportare molto, correggere una cosa per volta"
    google:
  Daria Bernardoni:
    display_name: Daria Bernardoni
    image: /static/firme/daria_bernardoni.jpg
    web: http://www.filodaria.it
    twitter: filodaria
    quote:
    google: https://plus.google.com/+DariaBernardoni/
  Sandro Bocchio:
    display_name: Sandro Bocchio
    image: /static/firme/sandro_bocchio.jpg
    twitter: sandrobocchio
    quote:
    google:
  40k Team:
    display_name: 40k Team
    image: /static/firme/40k_team.jpg
    twitter: 40kbooks
    quote: "Smart ebook for smart people"
    facebook:
  Roberto Zanasi:
    display_name: Roberto Zanasi
    image: /static/firme/roberto_zanasi.jpg
    web: http://proooof.blogspot.it/
    twitter: zzar
    quote: 
    google: https://plus.google.com/u/1/+RobertoZanasi/posts
  Marco Ragaini:
    display_name: Marco Ragaini
    image: /static/firme/marco_ragaini.jpg
    web: http://www.pochestorie.it/
    twitter: pochestorie
    quote: "Capace di intendere e di volare."
    google:
  Letizia Sechi:
    display_name: Letizia Sechi
    image: /static/firme/letizia_sechi.jpg
    web: http://www.letiziasechi.com/
    twitter: letiziasechi
    quote: "«The NET is a waste of time, and that's exactly what's right about it.»"
    google: 

image:
  source: /static/img/
  output: generated
  presets:
    imgresponsive:
      attr:
        class: f-post-img-responsive lazy
        itemprop: image

mini_magick:
    photo-thumbnail:
        source: static/author/
        destination: static/author/photo-thumbnail
        resize: "100x100"
    cover-thumbnail:
        source: static/cover/
        destination: static/cover/resize
        resize: "650x910"
    cover-small:
        source: static/cover/
        destination: static/cover/resize/small
        resize: "300x420"

#Open Graph
#og_image:  # Default image for Open Graph tag
#og_image_type: /static/img/40k_ebook_logo_nero.jpg
#og_image_width: 320
#og_image_height: 320
#fb_profile_id: 40kbooks
#fb_admins: 1707792040