.flag-international {

	position: relative;

	.flag-international__unit_10 {
		width: 10%;
		float: left;
	}

	.flag-international__unit_15 {
		width: 15%;
		float: left;
	}

	.flag-international__unit_20 {
		width: 20%;
		float: left;
	}

	.flag-international__unit_25 {
		width: 25%;
		float: left;
	}

	.flag-international__unit_30 {
		width: 30%;
		float: left;
	}

}