//
// Utility classes
// --------------------------------------------------


// Floats
// -------------------------

.clearfix {
  .clearfix();
}
.center-block {
  .center-block();
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}


// Toggling content
// -------------------------

// Note: Deprecated .hide in favor of .hidden or .sr-only (as appropriate) in v3.0.1
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  .text-hide();
}


// Hide from screenreaders and browsers
//
// Credit: HTML5 Boilerplate

.hidden {
  display: none !important;
  visibility: hidden !important;
}


// For Affix plugin
// -------------------------

.affix {
  position: fixed;
}

// Extra margin e affini
.margin_sm {
  margin-top: @padding-small-vertical;
  margin-bottom: @padding-small-vertical;
}

.extra-margin-bottom {
  margin-bottom: @line-height-computed;
}

.double-margin-bottom {
  margin-bottom: (@line-height-computed * 2.5);
}

.extra-margin-top {
  margin-top: @line-height-computed;
}

.no-margin-bottom {
  margin-bottom: 0px;
}

.padding_extra_center {
  padding-left: @padding-large-horizontal;
  padding-right: @padding-large-horizontal;
}