{% for autore in site.pages %}
  {% for autori in page.author %}
    {% if autore.nome_completo == autori %}
      <div class="media meta">
        <a class="pull-left" href="{{ autore.url }}">
            <div class="media-object sixty img-circle" style="background: url('{{ site.authorurl_thumb }}/{{ autore.nome | replace:' ','_' | downcase }}_{{ autore.cognome | replace:' ','_' | downcase }}.jpg') no-repeat center center; background-size: cover; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
            </div>
        </a>
        <div class="media-body">
            <h4 class="media-heading"><a href="{{ autore.url }}">{{ autore.nome_completo }}</a></h4>
            {{ autore.meta }}
        </div>
      </div>
    {% endif %}
  {% endfor %}
{% endfor %}