<section class="container">
  <div class="row">

  {{ include.collana }}
  
  {% for include.collana in site.pages %}

<div class="col-md-3 col-sm-6">
          <div class="thumbnail">
            <a href="{{ book.url }}">
              <img src="{{ site.coverurl }}/small/{{ book.isbn }}.jpg" alt="" class="img-responsive">
            </a>
            <div class="caption small_thumb">
              <h3>{{ book.titolo }}: {{ counter }}</h3>
              <p>{{ forloop.index }}{{ x }}</p>
              <p><a href="{{ book.url }}" class="btn btn-primary" role="button">Button</a></p>
            </div>
          </div>
        </div>

        
  {% endfor %}

</div>
</section>