<div class="row">
  <div class="list">
    {% for book in site.pages reversed %}
    {% if book.layout == 'book' and book.collana == include.collana %}
    <div class="col-md-3 col-sm-6">
      <div class="thumbnail">
        <a href="{{ book.url }}">
          <img src="{{ site.coverurl }}/small/{{ book.isbn }}.jpg" alt="" class="img-responsive lazy" data-original="img/example.jpg">
        </a>
        <div class="caption resize thumb">
          <h2 class="titolo margin_sm"><a href="{{ book.url }}">{{ book.title }}</a></h2>
          {% if book.sottotitolo %}
            <h3 class="small">{{ book.sottotitolo }}</h3>
          {% endif %}
          {% for autore in site.pages %}
            {% for autori in book.author %}
              {% if autore.nome_completo == autori %}
              <p class="small thumb_center no-margin-bottom"><em><a href="{{ autore.url }}"><span class="nome">{{ autore.nome }}</span> <span class="aut">{{autore.cognome }}</span></a></em></p>
              {% endif %}
            {% endfor %}
          {% endfor %}

          {% if book.meta %}
          <p class="small thumb_center no-margin-bottom categories">{{ book.categories | join:', ' }}</p>
          <p class="very_small extra-margin-top descrizione">{{ book.meta }}</p>
          {% endif %}
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>