<section class="container">
  <div class="row">

  {% for book in site.pages %}

    {% if book.collana == include.collana %}

      {% capture contatore %}{% cycle '1','2','3','4','5' %}{% endcapture %}

      {% if contatore == '5' %}

      {% endif %}

        <div class="col-md-3 col-sm-6">
          <div class="thumbnail">
            <img src="{{ site.coverurl }}/small/{{ book.isbn }}.jpg" alt="" class="img-responsive">
            <div class="caption small_thumb">
              <h3>{{ book.titolo }}</h3>
              <p>...</p>
              <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
            </div>
          </div>
        </div>

    {% endif %}
  
  {% endfor %}

</div>
</section>