<div class="row">
  <div class="list">
    {% for book in site.pages reversed %}
    {% if book.layout == 'book' and book.collana == include.collana %}
    {% if page.path contains 'international' %}
      {% if book.lang != 'italiano' %}
      <div class="col-md-3 col-sm-6">
        <div class="thumbnail thumbnail--book-list">
          <a href="{{ book.url }}">
            <img data-original="{{ site.coverurl }}/small/{{ book.isbn }}.jpg" alt="" class="lazy img-responsive">
          </a>
          <div class="caption">
            <h2 class="f-margin-bottom"><a href="{{ book.url }}">{{ book.title }}</a></h2>
            {% if book.sottotitolo %}
              <h3 class="f-margin-top f-margin-bottom">{{ book.sottotitolo }}</h3>
            {% endif %}
            <div class="small f-text-center-media">
            {% for autore in site.pages %}
              {% for autori in book.author %}
                {% if autore.nome_completo == autori %}
                <p class="f-margin-top" style="display: inline;"><em><a href="{{ autore.url }}"><span class="nome">{{ autore.nome }}</span> <span class="aut">{{autore.cognome }}</span></a></em><br></p>
                {% endif %}
              {% endfor %}
            {% endfor %}
            </div>
            {% if book.meta %}
            <p class="small categories f-margin-top f-margin-bottom">{{ book.categories | join:', ' }}</p>
            <p class="descrizione">{{ book.meta }}</p>
            {% endif %}
          </div>
        </div>
      </div>
      {% endif %}
    {% else %}
      {% if book.lang == 'italiano' %}
      <div class="col-md-3 col-sm-6">
        <div class="thumbnail thumbnail--book-list">
          <a href="{{ book.url }}">
            <img data-original="{{ site.coverurl }}/small/{{ book.isbn }}.jpg" alt="" class="lazy img-responsive">
          </a>
          <div class="caption">
            <h2 class="f-margin-bottom"><a href="{{ book.url }}">{{ book.title }}</a></h2>
            {% if book.sottotitolo %}
              <h3 class="f-margin-top f-margin-bottom">{{ book.sottotitolo }}</h3>
            {% endif %}
            <div class="small f-text-center-media">
            {% assign counter = 0 %}
            {% for autore in site.pages %}
              {% for autori in book.author %}
                {% if autore.nome_completo == autori %}
                {% capture counter %}{{ counter | plus: 1 %}}{% endcapture %}
                <p class="f-margin-top" style="display: inline;"><em><a href="{{ autore.url }}"><span class="nome">{{ autore.nome }}</span> <span class="aut">{{autore.cognome }}</span></a></em><br></p>
                {% endif %}
              {% endfor %}
            {% endfor %}
            {% if counter == 0 %}
              <p class="f-margin-top" style="display: inline;">{{ book.author | join: ', ' }}</p>
            {% endif %}
            </div>
            {% if book.meta %}
            <p class="small categories f-margin-top f-margin-bottom">{{ book.categories | join:', ' }}</p>
            <p class="descrizione">{{ book.meta }}</p>
            {% endif %}
          </div>
        </div>
      </div>
      {% endif %}
    {% endif %}
    {% endif %}
    {% endfor %}
  </div>
</div>