<footer class="jumbotron white footer f-margin-top-zero f-margin-bottom-zero">
    <div class="container-fluid">
        <div class="row">
            <p class="lead text-center f-lead-resize">
                Fatto con il <i class="fa fa-heart"></i> da <a href="http://www.bookrepublic.it/">Bookrepublic</a>
            </p>
            <p class="lead text-center f-lead-resize">
                ci trovi su:
            </p>
            <p class="lead text-center f-lead-resize">
                <span style="padding-right: 20px;"><a href="#"><i class="fa fa-twitter fa-3x"></i></a></span>
                <span style="padding-left: 20px;"><a href="#"><i class="fa fa-facebook fa-3x"></i></a></span>
            </p>
        </div>
    </div>
</footer>