<section class="jumbotron cover_padding visible-xs">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h3>I nostri ebook</h3>
                <p class="lead">40k ha diverse anime al suo interno, perché vogliamo  essere l’editore giusto al posto giusto e andare incontro al lettore  offrendogli ciò che sta cercando. Per orientarti nella scelta dei titoli dai un'occhiata alle collane. Se però non vuoi perderti nulla, sfoglia tutto il nostro catalogo. </p>
                <a href="/books/" type="button" class="btn btn-default">Scopri il catalogo</a>
            </div>
            <div class="col-md-5">

            </div>
        </div>
    </div>
</section>

<section class="jumbotron f-no-padding home_cover hidden-xs">

    <a href="/books/">

        <!-- primo blocco 10% -->
        <div class="home_cover__unit_10">
            <img class="lazy img-responsive" data-original="static/cover/resize/small/9788865860083.jpg">
            <div class="home_cover__unit_10__50">
                <img class="lazy img-responsive" data-original="static/cover/resize/small/9788865860083.jpg">
            </div>
            <div class="home_cover__unit_10__50">
                <img class="lazy img-responsive" data-original="static/cover/resize/small/9788865860083.jpg">
            </div>
        </div>

        <!-- secondo blocco 15% -->
        <div class="home_cover__unit_15" style="position:relative; top:-50px;">
            <div class="home_cover__unit_15__33 pull-right">
                <img class="lazy img-responsive" data-original="static/cover/resize/small/9788865860083.jpg">
            </div>
            <div class="home_cover__unit_15__15 pull-right" style="position: relative; top: 48px;">
                <img class="lazy img-responsive" data-original="static/cover/resize/small/9788865860083.jpg">
            </div>
            <img class="lazy img-responsive" data-original="static/cover/resize/small/9788865860083.jpg">
            <div class="home_cover__unit_15__33">
                <img class="lazy img-responsive" data-original="static/cover/resize/small/9788865860083.jpg">
            </div>
            <div class="home_cover__unit_15__33 pull-right">
                <img class="lazy img-responsive" data-original="static/cover/resize/small/9788865860083.jpg">
            </div>
        </div>

        <!-- terzo blocco 15% -->
        <div class="home_cover__unit_15" style="position:relative; top:-50px;">
            <div class="home_cover__unit_15__15 pull-right">
                <img class="lazy img-responsive" data-original="static/cover/resize/small/9788865860083.jpg">
            </div>
            <div class="home_cover__unit_15__15 pull-right">
                <img class="lazy img-responsive" data-original="static/cover/resize/small/9788865860083.jpg">
            </div>
            <div class="home_cover__unit_15__50" style="position: relative; top: 100px;">
                <img class="lazy img-responsive" data-original="static/cover/resize/small/9788865860083.jpg">
            </div>
            <div class="home_cover__unit_15__50">
                <img class="lazy img-responsive" data-original="static/cover/resize/small/9788865860083.jpg">
            </div>
            <div class="home_cover__unit_15__33" style="position: relative; top: 53px;">
                <img class="lazy img-responsive" data-original="static/cover/resize/small/9788865860083.jpg">
            </div>
        </div>

        <!-- terzo blocco 10% -->
        <div class="home_cover__unit_10">
            <img class="lazy img-responsive" data-original="static/cover/resize/small/9788865860083.jpg">
            <div class="home_cover__unit_10__75 pull-right">
                <img class="lazy img-responsive" data-original="static/cover/resize/small/9788865860083.jpg">
            </div>
        </div>

        <!-- quarto blocco 25% -->
        <div class="home_cover__unit_25" style="position:relative; top:-25px;">
            <img class="lazy img-responsive" data-original="static/cover/resize/9788865860083.jpg">
        </div>

        <!-- quinto blocco 15% -->
        <div class="home_cover__unit_15">
            <img class="lazy img-responsive" data-original="static/cover/resize/9788865860083.jpg">
            <div class="home_cover__unit_15__50">
                <img class="lazy img-responsive" data-original="static/cover/resize/small/9788865860083.jpg">
            </div>
            <div class="home_cover__unit_15__50">
                <img class="lazy img-responsive" data-original="static/cover/resize/small/9788865860083.jpg">
            </div>
        </div>

        <!-- sesto blocco 10% -->
        <div class="home_cover__unit_10" style="position:relative; top:50px;">
            <img class="lazy img-responsive" data-original="static/cover/resize/small/9788865860083.jpg">
            <div class="home_cover__unit_10__50">
                <img class="lazy img-responsive" data-original="static/cover/resize/small/9788865860083.jpg">
            </div>
        </div>

    </a>

</section>

<div class="clearfix"></div>