<section class="container cover_padding">
    <div class="row">
        {% for autore in site.pages %}
            {% if autore.nome_completo == page.autore1 %}
            <div class="col-md-3 col-sm-6 col-xs-6 text-center extra-margin-bottom home_authors">
                <a href="{{ autore.url }}">
                    <img data-original="{{ site.authorurl }}/{{ autore.nome | replace:' ','_' | downcase }}_{{ autore.cognome | replace:' ','_' | downcase }}.jpg" alt="" class="img-circle img-responsive lazy">
                </a>
                <h3><a href="{{ autore.url }}">{{ autore.nome }}<br>{{ autore.cognome }}</a></h3>
                <p class="hidden-xs">{{ autore.meta }}</p>
            </div>
            {% endif %}
        {% endfor %}
        {% for autore in site.pages %}
            {% if autore.nome_completo == page.autore2 %}
            <div class="col-md-3 col-sm-6 col-xs-6 text-center extra-margin-bottom home_authors">
                <a href="{{ autore.url }}">
                    <img data-original="{{ site.authorurl }}/{{ autore.nome | replace:' ','_' | downcase }}_{{ autore.cognome | replace:' ','_' | downcase }}.jpg" alt="" class="img-circle img-responsive lazy">
                </a>
                <h3><a href="{{ autore.url }}">{{ autore.nome }}<br>{{ autore.cognome }}</a></h3>
                <p class="hidden-xs">{{ autore.meta }}</p>
            </div>
            {% endif %}
        {% endfor %}

        <div class="clearfix visible-sm visible-xs"></div>

        {% for autore in site.pages %}
            {% if autore.nome_completo == page.autore3 %}
            <div class="col-md-3 col-sm-6 col-xs-6 text-center extra-margin-bottom home_authors">
                <a href="{{ autore.url }}">
                    <img data-original="{{ site.authorurl }}/{{ autore.nome | replace:' ','_' | downcase }}_{{ autore.cognome | replace:' ','_' | downcase }}.jpg" alt="" class="img-circle img-responsive lazy">
                </a>
                <h3><a href="{{ autore.url }}">{{ autore.nome }}<br>{{ autore.cognome }}</a></h3>
                <p class="hidden-xs">{{ autore.meta }}</p>
            </div>
            {% endif %}
        {% endfor %}
        {% for autore in site.pages %}
            {% if autore.nome_completo == page.autore4 %}
            <div class="col-md-3 col-sm-6 col-xs-6 text-center extra-margin-bottom home_authors">
                <a href="{{ autore.url }}">
                    <img data-original="{{ site.authorurl }}/{{ autore.nome | replace:' ','_' | downcase }}_{{ autore.cognome | replace:' ','_' | downcase }}.jpg" alt="" class="img-circle img-responsive lazy">
                </a>
                <h3><a href="{{ autore.url }}">{{ autore.nome }}<br>{{ autore.cognome }}</a></h3>
                <p class="hidden-xs">{{ autore.meta }}</p>
            </div>
            {% endif %}
        {% endfor %}

    </div>
    <div class="row">
        
        {% for autore in site.pages %}
            {% if autore.nome_completo == page.autore5 %}
            <div class="col-md-3 col-sm-6 col-xs-6 text-center extra-margin-bottom home_authors">
                <a href="{{ autore.url }}">
                    <img data-original="{{ site.authorurl }}/{{ autore.nome | replace:' ','_' | downcase }}_{{ autore.cognome | replace:' ','_' | downcase }}.jpg" alt="" class="img-circle img-responsive lazy">
                </a>
                <h3><a href="{{ autore.url }}">{{ autore.nome }}<br>{{ autore.cognome }}</a></h3>
                <p class="hidden-xs">{{ autore.meta }}</p>
            </div>
            {% endif %}
        {% endfor %}
        {% for autore in site.pages %}
            {% if autore.nome_completo == page.autore6 %}
            <div class="col-md-3 col-sm-6 col-xs-6 text-center extra-margin-bottom home_authors">
                <a href="{{ autore.url }}">
                    <img data-original="{{ site.authorurl }}/{{ autore.nome | replace:' ','_' | downcase }}_{{ autore.cognome | replace:' ','_' | downcase }}.jpg" alt="" class="img-circle img-responsive lazy">
                </a>
                <h3><a href="{{ autore.url }}">{{ autore.nome }}<br>{{ autore.cognome }}</a></h3>
                <p class="hidden-xs">{{ autore.meta }}</p>
            </div>
            {% endif %}
        {% endfor %}

        <div class="clearfix visible-sm visible-xs"></div>

        {% for autore in site.pages %}
            {% if autore.nome_completo == page.autore7 %}
            <div class="col-md-3 col-sm-6 col-xs-6 text-center extra-margin-bottom home_authors">
                <a href="{{ autore.url }}">
                    <img data-original="{{ site.authorurl }}/{{ autore.nome | replace:' ','_' | downcase }}_{{ autore.cognome | replace:' ','_' | downcase }}.jpg" alt="" class="img-circle img-responsive lazy">
                </a>
                <h3><a href="{{ autore.url }}">{{ autore.nome }}<br>{{ autore.cognome }}</a></h3>
                <p class="hidden-xs">{{ autore.meta }}</p>
            </div>
            {% endif %}
        {% endfor %}
        {% for autore in site.pages %}
            {% if autore.nome_completo == page.autore8 %}
            <div class="col-md-3 col-sm-6 col-xs-6 text-center extra-margin-bottom home_authors">
                <a href="{{ autore.url }}">
                    <img data-original="{{ site.authorurl }}/{{ autore.nome | replace:' ','_' | downcase }}_{{ autore.cognome | replace:' ','_' | downcase }}.jpg" alt="" class="img-circle img-responsive lazy">
                </a>
                <h3><a href="{{ autore.url }}">{{ autore.nome }}<br>{{ autore.cognome }}</a></h3>
                <p class="hidden-xs">{{ autore.meta }}</p>
            </div>
            {% endif %}
        {% endfor %}
        
    </div>
</section>

<section class="container-fluid cover_button_padding">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
            <a href="/authors/" class="btn btn-primary btn-lg" role="button">Scopri tutti i nostri autori</a>
        </div>
    </div>
</section>