<section class="container cover_padding">
    <div class="row extra-margin-bottom">
        <div class="col-md-3 col-sm-6 text-center">
            <img src="http://placehold.it/300x300" alt="" class="img-circle img-responsive">
            <h3>Nome Cognome</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="col-md-3 col-sm-6 text-center">
            <img src="http://placehold.it/300x300" alt="" class="img-circle img-responsive">
            <h3>Nome Cognome</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="col-md-3 col-sm-6 text-center">
            <img src="http://placehold.it/300x300" alt="" class="img-circle img-responsive">
            <h3>Nome Cognome</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="col-md-3 col-sm-6 text-center">
            <img src="http://placehold.it/300x300" alt="" class="img-circle img-responsive">
            <h3>Nome Cognome</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>
</section>

<section class="container-fluid cover_button_padding">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
            <a href="/authors/" class="btn btn-primary btn-lg" role="button">Scopri tutti i nostri autori</a>
        </div>
    </div>
</section>