<title>
    {% if page.title %}
    {{ page.title }}
    {% else %}
    {{ site.title }}
    {% endif %}
</title>
<meta content="{% if page.path contains '_posts' %}This page is a post{% else %}This page is a normal page{% endif %}">
<meta content="{% if page.isbn %}This page is a books{% endif %}">



<!-- se siamo in una scheda scheda prodotto, anche detta libro -->

<title>{{ page.title }} | 40k Ebook</title>
<meta name="description=" content="{{ page.content }}">

{% if page.isbn %}
<meta property="fb:app_id"          content="269829379846399" /> 
<meta property="og:type"            content="books.book" /> 
<meta property="og:url"             content="{{ page.url }}" /> 
<meta property="og:title"           content="{{ page.title }}{% if page.sottotitolo %} {{ page.sottotitolo }}{% endif %}" /> 
<meta property="og:image"           content="{{ site.coverurl }}/{{ page.isbn }}.jpg" /> 
<meta property="og:description"     content="{{ page.content }}" /> 
<meta property="books:isbn"         content="{{ page.isbn }}" /> 
<meta property="books:author"       content="" />
{% endif %}

{% comment %}
<meta content="{% if page.path contains '_posts' %}This page is a post{% else %}This page is a normal page{% endif %}">
<meta name="description=" content="40k è un progetto editoriale nato nel 2010 all’insegna della sperimentazione per sfruttare al massimo tutti i vantaggi del digitale.">

<!-- facebook -->
{% if page.title %}
<meta property="og:type" content="article" />
<meta property="og:title" content="{{ page.title }}" />
{% else %}
<meta property="og:title" content="{{ page.title }}" />
{% endif %}
{% endcomment %}