<title>
	{% if page.title %}
		{{ page.title }}
	{% else %}
		{{ site.title }}
	{% endif %}
</title>

{% comment %}
<meta content="{% if page.path contains '_posts' %}This page is a post{% else %}This page is a normal page{% endif %}">
<meta name="description=" content="40k è un progetto editoriale nato nel 2010 all’insegna della sperimentazione per sfruttare al massimo tutti i vantaggi del digitale.">

<!-- facebook -->
{% if page.title %}
	<meta property="og:type" content="article" />
	<meta property="og:title" content="{{ page.title }}" />
{% else %}
	<meta property="og:title" content="{{ page.title }}" />
{% endif %}

<!-- per una scheda prodotto -->

 <meta property="fb:app_id"          content="269829379846399" /> 
  <meta property="og:type"            content="books.book" /> 
  <meta property="og:url"             content="Put your own URL to the object here" /> 
  <meta property="og:title"           content="Snow Crash" /> 
  <meta property="og:image"           content="http://en.wikipedia.org/wiki/File:Snowcrash.jpg" /> 
  <meta property="og:description"     content="In reality, Hiro Protagonist delivers pizza for Uncle Enzo&#x2019;s CosoNostra Pizza Inc., but in the Metaverse he&#x2019;s a warrior prince. Plunging headlong into the enigma of a new computer virus that&#x2019;s striking down hackers everywhere, he races along the neon-lit streets on a search-and-destroy mission for the shadowy virtual villain threatening to bring about infocalypse. Snow Crash is a mind-altering romp through a future America so bizarre, so outrageous&#x2026;you&#x2019;ll recognize it immediately." /> 
  <meta property="books:isbn"         content="0553380958" /> 
  <meta property="books:rating:value" content="Sample Rating: value" /> 
  <meta property="books:rating:scale" content="Sample Rating: scale" /> 
  <meta property="books:author"       content="http://samples.ogp.me/344562145628374" />
{% endcomments %}