<table class="table table-responsive table-striped">
    {% if page.translator %}
    <tr>
        <td>Traduttore:</td>
        <td>{{ page.translator }}</td>
    </tr>
    {% endif %}
    <tr>
        <td>ISBN:</td>
        <td>{{ page.isbn }}</td>
    </tr>
    <tr>
        <td>Categoria:</td>
        <td>{{ page.categories | join:', ' }}</td>
    </tr>
    <tr>
        <td>Lingua:</td>
        <td>{{ page.lang }}</td>
    </tr>
    <tr>
        <td>Formato:</td>
        <td>{{ page.format }}</td>
    </tr>
    <tr>
        <td>Uscito il:</td>
        <td>{{ page.date | date: "%Y-%m-%d" }}</td>
    </tr>
    <tr>
        <td>Prezzo:</td>
        <td>{{ page.price }}</td>
    </tr>
</table>
