<div>
    <a id="right-panel-link" href="#right-panel" class="logo_menu">
        <i class="fa fa-bars fa-2x logo_menu__icon"></i>
    </a>
</div>

<!-- lo slidemenu a sinistra -->
<div id="right-panel" class="slidepanel">
    <p><i class="fa fa-backward fa-2x" id="close-panel-bt"></i></p>
    <h2>il Menù</h2>
    <ul class="fa-ul">
      <li><i class="fa-li fa fa-home {% if page.url == '/index.html' %}fa-spin{% endif %}"></i><a href="/">Home</a></li>
      <li><i class="fa-li fa fa-stack-exchange {% if page.url == '/blog/index.html' %}fa-spin{% endif %}"></i><a href="/blog">Blog</a></li>
      <li><i class="fa-li fa fa-book {% if page.url == '/books/index.html' %}fa-spin{% endif %}"></i><a href="/books">Ebook</a></li>
      <li><i class="fa-li fa fa-quote-left {% if page.url == '/books/collection/index.html' %}fa-spin{% endif %}"></i><a href="/books/collection">Collane</a></li>
      <li><i class="fa-li fa fa-users {% if page.url == '/authors/index.html' %}fa-spin{% endif %}"></i><a href="/authors">Autori</a></li>
      <li><i class="fa-li fa fa-keyboard-o {% if page.url == '/diventa_autore/index.html' %}fa-spin{% endif %}"></i><a href="/diventa_autore">Diventa autore</a></li>
      <li><i class="fa-li fa fa-pencil {% if page.url == '/diventa_autore/benvenuto_bordo/' %}fa-spin{% endif %}"></i><a href="/scrivi">Scrivi!</a></li>
    <ul>    
</div>