---
layout: default
title: 40k
---

<section class="container-fluid">
    <div class="col-md-8 col-md-offset-2">
         <h1>Tutti i post del blog</h1>
            {% for post in site.posts %}
              <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                  <span>{{ post.date | date_to_string }}</span> &raquo;
              {% if post.description %}
                <p>{{ post.description }}</p>
                {% else %}
                <p>{{ post.excerpt }}</p>
              {% endif %}
            {% endfor %}
    </div>
</section>