---
layout: default
---

<div class="container-fluid">
  <div class="row single_post">
    <div class="col-md-10 col-md-offset-1 double-margin-bottom">
      <h1>I nostri autori</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="row">
        {% for autore in site.pages | sort:"name"%}
        {% if autore.layout == 'autore' %}
        <div class="col-md-2 col-sm-2 col-xs-4 extra-margin-bottom">
          <a href="{{ autore.url }}">
            <img class="lazy img-circle img-responsive" src="{{ site.authorurl }}{{ autore.nome | replace:' ','_' | downcase }}_{{ autore.cognome | replace:' ','_' | downcase }}.jpg" alt="l'autore di 40k in ebook {{ autore.nome_completo }}" title="{{ autore.nome_completo }}">
          </a>
          <section class="f-paddingtop-h-title resize text-center">
          <h2><a href="{{ autore.url }}">{{autore.nome }}<br>{{ autore.cognome }}</a></h2>
        </section>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>