---
layout: default
---

{% if page.cover %}
<header class="image_cover img-responsive hidden-xs" style="background: url('{{ page.cover }}') no-repeat center center;
background-size: cover; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
</header>
{% endif %}

<section class="container-fluid">
  <div class="row">
    <div class="text-center col-md-10 col-md-offset-1">
      <div class="img-circle author_post hidden-xs" style="background: url('{{ site.authorurl }}{{ page.nome | replace:' ','_' | downcase }}_{{ page.cognome | replace:' ','_' | downcase }}.jpg') no-repeat center center; background-size: cover; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; {% if page.cover %} height:150px; width: 150px; margin-top:-75px;{% endif %}">
      </div>
      <div class="img-circle author_post visible-xs" style="background: url('{{ site.authorurl }}{{ page.nome | replace:' ','_' | downcase }}_{{ page.cognome | replace:' ','_' | downcase }}.jpg') no-repeat center center; background-size: cover; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
      </div>
      <div class="author_title single_post">
        <h1>{{ page.nome }} {{ page.cognome }}</h1>
      </div>
      <div class="author extra-margin-bottom">
        {% if page.quote %}
        <div class="text-center extra-margin-bottom padding_extra_center f-xs-center f-sm-center">
          <p>{{ page.quote }}</p>
        </div>
        {% endif %}
        <div class="row text-center author_social">
          <ul>
            {% if page.twitter %}
            <li>
              <a href="https://twitter.com/{{ page.twitter }}">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-square-o fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x"></i>
                </span>
              </a>
            </li>
            {% endif %}
            {% if page.facebook %}
            <li>
              <a href="{{ page.facebook }}">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-square-o fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x"></i>
                </span>
              </a>
            </li>
            {% endif %}
            {% if page.instagram %}
            <li>
              <a href="{{ page.instagram }}">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-square-o fa-stack-2x"></i>
                  <i class="fa fa-instagram fa-stack-1x"></i>
                </span>
              </a>
            </li>
            {% endif %}
          </ul>
        </div>  
      </div>
    </div>
  </div>
  <article class="row">
    <div class="col-md-10 col-md-offset-1">
      {{ content }}
    </div>
  </article>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h2 class="pull-left">
        I suoi ebook per 40k
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="row">
      {% for book in site.pages reversed %}
        {% if book.layout == 'book' and book.author contains page.nome_completo %}
        <article class="col-md-2 col-sm-3 col-xs-6">
          <div class="thumbnail fixed-height">
            <a href="{{ book.url }}">
              <img class="lazy img-responsive" data-original="{{ site.coverurl }}/small/{{ book.isbn }}.jpg" alt="...">
            </a>
            <div class="caption resize">
              <h2 class="resize margin_sm">{{ book.title }}</h2>
              <dl>
                <dd>

                  {% for autore in site.pages %}
                  {% for autori in book.author %}
                  {% if autore.nome_completo == autori %}
                  <a href="{{ autore.url }}"><strong>{{ autore.nome }} <span class="aut">{{ autore.cognome }}</span></strong></a>
                  {% endif %}
                  {% endfor %}
                  {% endfor %}

                </dd>
                <dd class="collana"><a href="#">{{ book.collana }}</a></dd>
                <dd class="data">{{ book.date | date: "%Y"}}</dd>
              </dl>
            </div>
          </div>
        </article>
        {% endif %}
        {% endfor %}
        </div>
    </div>
  </div>
</section>
