---
layout: default
---

<section class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
            <div class="benvenuto__logo_iniziale">
                <img class="lazy img-responsive img-circle" data-original="/static/img/40k_autore_benvenuto.jpg">
            </div>
        </div>
    </div>
</section>

<div class="jumbotron lilla">
    <div class="container">
        <h1 class="text-center">Benvenuto a bordo</h1>
        <p class="lead f-text-center-to-justify">{{ content }}</p>
        <div class="row f5x-margin-top">
            <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 text-center">
                <a class="btn btn-lg btn-info" href="#"><i class="fa fa-magic fa-2x pull-left"></i> Inizia a scrivere<br>con Pressbooks</a>
            </div>
        </div>
    </div>
</div>

<section class="jumbotron white">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
                <p class="lead">Paura, eh? Ma noi dai, scoprirai che è davvero facile e divertente. Ad ogni modo, non ti lasciamo solo. Abbiamo preparato per te un po’ di munizioni per il tuo percorso da autore.</p>
                <p class="lead">Da dove si comincia a scrivere un libro? Come funziona PressBooks, la piattaforma online di 40k?</p>
            </div>
        </div>
        <div class="row f10x-margin-top">
            <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 text-center">
                <p class="lead text-center"><i class="fa fa-angle-double-down fa-5x"></i></p>
            </div>
        </div>
    </div>
</section>

{% for page in site.pages %}
{% if page.isbn == 9788898001576 %}

<div class="container-fluid two_column f10x-margin-bottom">
    <div class="row">
        <aside class="col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1">
            <img class="img-responsive" src="{{ site.coverurl }}/{{ page.isbn }}.jpg" alt="{{ page.title }}" title="{{ page.title }}">            
            <a href="#" type="button" class="btn btn-info btn-lg btn-block f-margin-top hidden-xs">Leggilo</a>
        </aside>
        <article class="col-md-6 col-sm-6">

            <h1>{{ page.title }}</h1>

            {% if page.sottotitolo %}
            <h2>{{ page.sottotitolo }}</h2>
            {% endif %}

            {% include author_list.html %}

            <p class="visible-xs">
                <a href="http://ebook.40k.it/come-scrivere-un-40k-con-pressbooks/" type="button" class="btn btn-info btn-lg btn-block f-margin-top" target="_blank">Leggilo</a>
            </p>

            <p>Da dove si comincia a scrivere un libro? Come funziona PressBooks, la piattaforma online di 40k? In questa guida alla creazione del tuo primo libro con la piattaforma/officina che ti permette di diventare un autore/artigiano del digitale, ci sono tutte le informazioni che ti servono. Scritto direttamente su PressBooks (perché, come diceva Henry Ford, bisogna guidare le automobili che si vendono), Come si scrive un 40k ti offre tutte le informazioni necessarie per iniziare a creare il tuo libro e anche qualche “trucco” per utenti avanzati, che ti permetterà di ottenere il migliore risultato possibile. Lasciati guidare da Antonio Dini alla scoperta di PressBooks: una lettura chiara e veloce in stile 40k e poi puoi concentrarti su quello che è più importante: essere creativo per il tuo libro, sia esso di narrativa che di saggistica.</p>

        </article>
    </div>
</div>

{% endif %}
{% endfor %}