---
layout: default
---

<section class="container-fluid two_column">
    <div class="row">
        <aside class="col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1">
            <img class="img-responsive" src="{{ page.cover }}" alt="" title="">
        </aside>
        <article class="col-md-6 col-sm-6">
            <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Library</a></li>
            <li class="active">Data</li>
        </ol>
            <h1>{{ page.titolo }}</h1>
            <p class="meta">{{ page.autore | join: ', ' }}</p>
            <p>{{ page.content }}</p>
            <h2>Informazioni</h2>
            <table class="table table-responsive table-striped">
                <tr>
                    <td>titolo</td>
                    <td>dato</td>
                </tr>
                <tr>
                    <td>titolo</td>
                    <td>dato</td>
                </tr>
                <tr>
                    <td>titolo</td>
                    <td>dato</td>
                </tr>
                <tr>
                    <td>titolo</td>
                    <td>dato</td>
                </tr>
            </table>
        </article>
        <div class="col-md-1"></div>
    </div>
</section>