---
layout: default
---

<div class="container-fluid">
    <div class="row single_post">
        <div class="col-md-10 col-md-offset-1 double-margin-bottom">
            <h1>Le collane di 40k</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="row">
                <div class="col-md-3 col-sm-4 extra-margin-bottom">
                    <div>
                        <a href="/books/collection/stories/">
                            <img class="lazy img-responsive" data-original="/static/img/40_cupcake_chocolate.jpg" alt="" title="">
                        </a>
                    </div>
                    <div>
                        <a href="/books/collection/stories/">
                            <h2 class="f-h2-resize">Stories</h2>
                        </a>
                        <p>Julio Cortazar ha detto: "Se il romanzo vince ai punti, il racconto deve vincere per 'knock out'." Noi abbiamo pubblicato un sacco di autori con un vero talento per la forma breve che hanno vinto premi prestigiosi.</p>
                        <a href="/books/collection/stories/" type="button" class="btn btn-default">Scopri di più</a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 extra-margin-bottom">
                    <div>
                        <a href="/books/collection/essays/">
                            <img class="lazy img-responsive" data-original="/static/img/40_cupcake_chocolate.jpg" alt="" title="">
                        </a>
                    </div>
                    <div>
                        <a href="/books/collection/essays/">
                            <h2 class="f-h2-resize">Essays</h2>
                        </a>
                        <p>I saggi dei <em>great thinkers</em> di 40k ti garantiscono l'acquisizione di una conoscenza mirata su un dato argomento in circa un'ora. Efficiency = Reading Time / Knowledge Delivered.</p>
                        <a href="/books/collection/essays/" type="button" class="btn btn-default">Scopri di più</a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 extra-margin-bottom">
                    <div>
                        <a href="/books/collection/lastampa/">
                            <img class="lazy img-responsive" data-original="/static/img/40_cupcake_chocolate.jpg" alt="" title="">
                        </a>
                    </div>
                    <div>
                        <a href="/books/collection/lastampa/">
                            <h2 class="f-h2-resize">40k/La Stampa</h2>
                        </a>
                        <p>Gli ebook rappresentano una nuova sfida per il giornalismo: la rapidità di pubblicazione delle news incontra lo spazio di approfondimento dei libri. In co-edizione con La Stampa, 40k raccoglie questa sfida.</p>
                        <a href="/books/collection/lastampa/" type="button" class="btn btn-default">Scopri di più</a>
                    </div>
                </div>

                <div class="clearfix visible-sm"></div>

                <div class="col-md-3 col-sm-4 extra-margin-bottom">
                    <div>
                        <a href="/books/collection/unofficial/">
                            <img class="lazy img-responsive" data-original="/static/img/40_cupcake_chocolate.jpg" alt="" title="">
                        </a>
                    </div>
                    <div>
                        <a href="/books/collection/unofficial/">
                            <h2 class="f-h2-resize">Unofficial</h2>
                        </a>
                        <p>A metà strada tra editoria e self publishing, abbiamo selezionato per te i migliori blogger e abbiamo creato con loro un nuovo spazio di approfondimento per costruire ragionamenti più strutturati.</p>
                        <a href="/books/collection/unofficial/" type="button" class="btn btn-default">Scopri di più</a>
                    </div>
                </div>

                <div class="clearfix visible-md"></div>
                <div class="clearfix visible-lg"></div>

                <div class="col-md-3 col-sm-4 extra-margin-bottom">
                    <div>
                        <a href="/books/collection/bees/">
                            <img class="lazy img-responsive" data-original="/static/img/40_cupcake_chocolate.jpg" alt="" title="">
                        </a>
                    </div>
                    <div>
                        <a href="/books/collection/bees/">
                            <h2 class="f-h2-resize">Bees</h2>
                        </a>
                        <p>I 40k Bees sono ebook dedicati al mondo dei social media scritti in modo semplice e coinvolgente da autori con le idee chiare e un'ottima presenza in rete.</p>
                        <a href="/books/collection/bees/" type="button" class="btn btn-default">Scopri di più</a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 extra-margin-bottom">
                    <div>
                        <a href="/books/collection/altramatematica/">
                            <img class="lazy img-responsive" data-original="/static/img/40_cupcake_chocolate.jpg" alt="" title="">
                        </a>
                    </div>
                    <div>
                        <a href="/books/collection/altramatematica/">
                            <h2 class="f-h2-resize">Altramatematica</h2>
                        </a>
                        <p>Esiste un modo di diverso di parlare di numeri, fresco, sagace, pop: Altramatematica. Un approccio semplice e coinvolgente ad argomenti complessi. E se non capisci qualcosa, #telospiegamau.</p>
                        <a href="/books/collection/altramatematica/" type="button" class="btn btn-default">Scopri di più</a>
                    </div>
                </div>

                <div class="clearfix visible-sm"></div>

                <div class="col-md-3 col-sm-4 extra-margin-bottom">
                    <div>
                        <a href="/books/collection/immortali/">
                            <img class="lazy img-responsive" data-original="/static/img/40_cupcake_chocolate.jpg" alt="" title="">
                        </a>
                    </div>
                    <div>
                        <a href="/books/collection/immortali/">
                            <h2 class="f-h2-resize">Storie di campioni</h2>
                        </a>
                        <p>Giornalismo sportivo d'autore in formato ebook: un'enciclopedia dello sport smart che raccoglie ebook originali, sintetici ma al tempo stesso completi.</p>
                        <a href="/books/collection/immortali/" type="button" class="btn btn-default">Scopri di più</a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 extra-margin-bottom">
                    <div>
                        <a href="/books/collection/paperproject/">
                            <img class="lazy img-responsive" data-original="/static/img/40_cupcake_chocolate.jpg" alt="" title="">
                        </a>
                    </div>
                    <div>
                        <a href="/books/collection/paperproject/">
                            <h2 class="f-h2-resize">Paperproject</h2>
                        </a>
                        <p>Paper Project è il magazine che raccoglie tutte le tendenze della rete grazie ai contribuiti dei blogger più popolari. I migliori tra loro scelti per noi da Chiara Fornari sono diventati autori.</p>
                        <a href="/books/collection/paperproject/" type="button" class="btn btn-default">Scopri di più</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>