<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>
        {% if layout == book %}
          {{ page.titolo }}
        {% else %}
          {{ page.title }}
        {% endif %}
      </title>
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <!-- syntax highlighting CSS -->
      <link rel="stylesheet" href="/css/syntax.css">

      <!-- Custom CSS -->
      <link rel="stylesheet" href="/css/main.css">
      <link rel="stylesheet" href="/assets/css/bootstrap.css">
      <link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css">

      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
  </head>
  <body>

    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/jquery-ui.min.js"></script>
    <script src="/assets/js/bootstrap.js"></script>
    <!-- questo mi serve per lo slidemenu -->
    <script src="/assets/js/jquery.panelslider.js"></script>

    {% include slidemenu.html %}

    {{ content }}

    {% include footer.html %}

    <script>
       $('#right-panel-link').panelslider({side: 'left', clickClose: false, duration: 200 });

    $('#close-panel-bt').click(function() {
      $.panelslider.close();
        });
    </script>

  </body>
</html>