---
layout: default
---

<div class="jumbotron arancio">
  <h1 class="text-center">Vuoi diventare un autore?</h1>
  <p class="lead text-center">{{ content }}</p>
</div>

---daria prova




<section class="jumbotron white">
    <div class="container">
        <div class="row">
            <div class="col-md-5">

            </div>
            <div class="col-md-7 text-right">
                <h3>Short is More</h3>
                <p class="lead">Non ti chiederemo di allungare il brodo per raggiungere una lunghezza minima prestabilita. Cerchiamo autori con un’idea chiara, che possa essere esposta in modo efficace tra le 20.000 e le 60.000 battute. La tua proposta deve rispondere a una domanda precisa o deve essere in grado di delineare un quadro accurato attorno un tema specifico.</p>
            </div>
        </div>
    </div>
</section>
<section class="jumbotron verde">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h3>Be Smart, Be Fast</h3>
                <p class="lead">Cerchiamo autori svegli, attenti, proattivi. Non perdere tempo: se hai l’intuizione giusta coglila al volo e trasformala in un progetto editoriale. Il digitale ci permette di essere veloci, pubblichiamo al volo approfondimenti su notizie importanti,  saggi su argomenti caldi e manuali sempre aggiornati. Non farci perdere tempo: se non ti rispecchi nel nostro manifesto, lascia perdere. </p>
            </div>
            <div class="col-md-5">
                
            </div>
        </div>
    </div>
</section>


<section class="jumbotron white">
    <div class="container">
        <div class="row">
            <div class="col-md-5">

            </div>
            <div class="col-md-7 text-right">
                <h3>Do It Yourself</h3>
                <p class="lead">Abbiamo letto Makers di Chris Anderson, e ci è piaciuto parecchio. Non esistono cose facili e cose difficili, esistono cose che sai già fare e cose che puoi imparare. Per questo tra i nostri ebook trovi tanti manuali pratici scritti da persone che condividono gli stessi problemi e la stessa voglia di trovare soluzioni intelligenti. Anche per fare i libri, che sono il nostro pane quotidiano, ci voglioni dei maker. Per questo mettiamo a disposizione dei nostri autori PressBooks, una piattaforma/officina in cui ogni autore può creare da sé il proprio ebook. Molti di loro ci hanno preso gusto e Antonio Dini ha deciso di condividere anche la sua esperienza con PressBooks.</p>
            </div>
        </div>
    </div>
</section>

<section class="jumbotron cover_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h3>Share with your Friends</h3>
                <p class="lead">Cerchiamo autori con una buona presenza in Rete: qualunque sia il tuo campo d’interesse osserviamo attentamente come lo racconti. Quando ti presenti, mandaci i link ai tuoi profili sui social network, blog, siti con cui collabori. Ci aiuterà a valutarti, perché dopo la pubblicazione vogliamo collaborare con te alla promozione del tuo libro. </p>
                
            <div class="col-md-5">
                
            </div>
        </div>
    </div>
</section>

---/daria prova

<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="row">
        <div class="col-md-4">
          <h2>Short is More</h2>
          <p>Non ti chiederemo di allungare il brodo per raggiungere una lunghezza minima prestabilita. Cerchiamo autori con un’idea chiara, che possa essere esposta in modo efficace tra le 20.000 e le 60.000 battute. La tua proposta deve rispondere a una domanda precisa o deve essere in grado di delineare un quadro accurato attorno un tema specifico.</p>
        </div>
        <div class="col-md-4">
          <h2>Be Smart, Be Fast</h2>
          <p>Cerchiamo autori svegli, attenti, proattivi. Non perdere tempo: se hai l’intuizione giusta coglila al volo e trasformala in un progetto editoriale. Il digitale ci permette di essere veloci, pubblichiamo al volo approfondimenti su notizie importanti,  saggi su argomenti caldi e manuali sempre aggiornati. Non farci perdere tempo: se non ti rispecchi nel nostro manifesto, lascia perdere. </p>
        </div>
        <div class="col-md-4">
          <h2>Title</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h2>Title</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="col-md-4">
          <h2>Title</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="col-md-4">
          <h2>Title</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </div>
  </div>
</div>
