---
layout: default
---

<div class="jumbotron arancio">
    <div class="container">
        <h1 class="text-center">Vuoi diventare un autore?</h1>
        <p class="lead f-text-center-to-justify">{{ content }}</p>
    </div>
</div>

<section class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
            <div class="diventa_autore__logo_iniziale">
                <img class="lazy img-responsive img-circle" data-original="/static/img/40k_ebook_diventa_autore.jpg">
            </div>
        </div>
    </div>
</section>

<section class="jumbotron white f-no-padding-top">
    <div class="container">
        <div class="row">
            <div class="col-md-5 text-left">
                <h3>Short is More</h3>
                <p class="lead">Non ti chiederemo di allungare il brodo per raggiungere una lunghezza minima prestabilita. Cerchiamo autori con un’idea chiara, che possa essere esposta in modo efficace tra le 20.000 e le 60.000 battute. La tua proposta deve rispondere a una domanda precisa o deve essere in grado di delineare un quadro accurato attorno un tema specifico.</p>
            </div>
            <div class="col-md-5 col-md-offset-2 text-right diventa_autore--testi">
                <h3>Be Smart, Be Fast</h3>
                <p class="lead">Cerchiamo autori svegli, attenti, proattivi. Non perdere tempo: se hai l’intuizione giusta coglila al volo e trasformala in un progetto editoriale. Il digitale ci permette di essere veloci, pubblichiamo al volo approfondimenti su notizie importanti,  saggi su argomenti caldi e manuali sempre aggiornati. Non farci perdere tempo: se non ti rispecchi nel nostro manifesto, lascia perdere.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 text-left diventa_autore--testi">
                <h3>Do it yourself</h3>
                <p class="lead">Abbiamo letto Makers di Chris Anderson, e ci è piaciuto parecchio. Non esistono cose facili e cose difficili, esistono cose che sai già fare e cose che puoi imparare. Per questo tra i nostri ebook trovi tanti manuali pratici scritti da persone che condividono gli stessi problemi e la stessa voglia di trovare soluzioni intelligenti. Anche per fare i libri, che sono il nostro pane quotidiano, ci voglioni dei maker. Per questo mettiamo a disposizione dei nostri autori PressBooks, una piattaforma/officina in cui ogni autore può creare da sé il proprio ebook. Molti di loro ci hanno preso gusto e Antonio Dini ha deciso di condividere anche la sua esperienza con PressBooks.
</p>
            </div>
            <div class="col-md-5 col-md-offset-2 text-right diventa_autore--testi">
                <h3>Share with your friends</h3>
                <p class="lead">Cerchiamo autori con una buona presenza in Rete: qualunque sia il tuo campo d’interesse osserviamo attentamente come lo racconti. Quando ti presenti, mandaci i link ai tuoi profili sui social network, blog, siti con cui collabori. Ci aiuterà a valutarti, perché dopo la pubblicazione vogliamo collaborare con te alla promozione del tuo libro. </p>
            </div>
        </div>
    </div>
</section>

<section class="jumbotron blu">
    <h2 class="text-center">Hai davvero capito cosa stiamo cercando?</h2>
</section>

<section class="jumbotro white">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <form id="form" role="form" action="http://getsimpleform.com/messages?form_api_token=9be9e60d768b8a383538708d3e770199" method="post" enctype="multipart/form-data">

                    <input type="hidden" name="redirect_to" value="http://www.40k.it/">
                    <input type="hidden" name="_folder" value="contact">
                    <input type="hidden" name="_spam" value="message">

                    <div class="form-group">
                        <label>Nome</label>
                        <input class="form-control" type="text" name="name" placeholder="Qui scrivi il tuo nome e cognome">
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control" name="address" rows="8" placeholder="Qui scrivi il tuo indirizzo email valido"></input>
                    </div>
                    <div class="form-group">
                        <label>Message</label>
                        <textarea class="form-control" name="message" rows="8" cols="50" placeholder="Sii breve: raccontaci in 5 righe qual è la tua idea per l'ebook che vuoi scrivere e in altre 5 chi sei, che cosa fai e dove troviamo la tua presenza in rete. Grazie!"></textarea>

                    </div>

                    <button type="submit" class="btn btn-default">Submit</button>

                </form>
            </div>

        </div>
    </div>
</section>