---
layout: default
comments: true
---

{% if page.cover %}
<header class="image_cover img-responsive" style="background: url('{{ page.cover }}') no-repeat center center;
background-size: cover; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
</header>
{% endif %}

<aside>
</aside>

{% assign author = site.authors[page.author] %}

<section class="container-fluid f5x-margin-bottom">
  <div class="col-md-10 col-md-offset-1">
    <aside class="col-md-9 hidden-md hidden-lg small_author{% if page.cover %}_1{% endif %} text-center author f-xs-center f-sm-center">
      <img src="{{ author.image }}" class="img-circle">
      <h2>{{ author.display_name }}</h2>
      {% if author.twitter %}
      <p><small><a href="https://twitter.com/{{ author.twitter }}">@{{ author.twitter }}</a></small></p>
      {% endif %}
    </aside>
    <header class="row">
      <div class="col-md-9 col-md-offset-2 single_post">
        <h1>{{ page.title }}</h1>
      </div>
    </header>
    <div class="row">
      <aside class="col-md-2 hidden-xs hidden-sm author text-center">
        <img src="{{ author.image }}" class="img-responsive img-circle">
        <h2>{{ author.display_name }}</h2>
        {% if author.quote %}<p><small><em>{{ author.quote }}</em></small></p>{% endif %}
        <p><small><a href="https://twitter.com/{{ author.twitter }}">@{{ author.twitter }}</a></small></p>
      </aside>
      <article class="col-md-9">
        <div class="single_post">
          <div class="f-xs-center f-sm-center">
            <p class="meta">{{ page.date | date_to_string }} in {{ page.categories | join: ', ' }}
             | questo post è lungo {{ page.content | number_of_words }} parole
           </p>
         </div>
         <p>{{ content }}</p>
       </div>
     </article>
   </div>

   <div class="row">
    <div class="col-md-5 col-md-offset-6 text-right share">
      {% include post_social.html %}
    </div>
  </div>

  {% if page.comments %}
  <div class="row f10x-margin-top f5x-margin-bottom">
    <div class="col-md-9 col-md-offset-2">
      <div id="disqus_thread"></div>
      <script type="text/javascript">
          /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
          var disqus_shortname = '40k'; // required: replace example with your forum shortname

          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
      </div>
    </div>
  {% endif %}

</div>
</section>