---
layout: default
---

<section class="jumbotron spiacenti">
    <div class="container">
        <div class="row f10x-margin-bottom">
            <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
                <div class="row f5x-margin-top">
                    <div class="col-md-4 hidden-xs hidden-sm">
                        <img class="lazy img-responsive" data-original="/static/img/40k_cup_chocolate.jpg" alt="Keep calm and eat chocolate">
                    </div>
                    <div class="col-md-4">
                        <img class="lazy img-responsive" data-original="/static/img/40k_chocolate_table.jpg" alt="Keep calm and eat chocolate">
                    </div>
                    <div class="col-md-4 hidden-xs hidden-sm">
                        <img class="lazy img-responsive" data-original="/static/img/40_cupcake_chocolate.jpg" alt="Keep calm and eat chocolate">
                    </div>
                </div>
                <h1 class="f-h1-resize text-center">
                    KEEP CALM<br>
                    AND<br>
                    EAT CHOCOLATE
                </h1>
                <div class="f5x-margin-top">
                    <p class="lead f-lead-resize">Se ti trovi su questa pagina, vuol dire che la proposta di pubblicazione che ci hai inviato non è andata a buon fine.</p>
                    <p class="lead f-lead-resize">I motivi? Sono vari e magari non tutti ti riguardano.</p>
                    <p class="lead f-lead-resize">Proviamo a elencare i più frequenti, sperando che possano esserti d’aiuto per capire meglio le ragioni di un rifiuto che vorremmo fosse il più costruttivo possibile.</p>
                </div>
            </div>
        </div>
        <div class="row f5x-margin-bottom">
            <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
                <h2 class="f-h2-resize">1. La tua proposta non rispecchia la nostra linea editoriale</h2>
                <p class="lead f-lead-resize">Se ci hai inviato una raccolta di poesie o un romanzo storico, per esempio, ecco la ragione per cui non possiamo accogliere la tua proposta.</p>
                <p class="lead f-lead-resize">Abbiamo scelto di concentrarci su manualistica breve e focalizzata e su approfondimenti puntuali su idee ben circoscritte: per il momento la narrativa e la poesia non rientrano tra i nostri progetti editoriali.</p>
            </div>
        </div>
        <div class="row f5x-margin-bottom">
            <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
                <h2 class="f-h2-resize">2. La tua presenza in Rete non è ancora abbastanza matura</h2>
                <p class="lead f-lead-resize">Qualunque sia il tuo campo di interesse osserviamo attentamente come lo racconti. Link ai tuoi profili sui social network, blog, siti con cui collabori sono più che ben accetti. Il tuo apporto nella comunicazione su e intorno al libro è fondamentale: siamo partner, e abbiamo bisogno di collaboratori forti.</p>
            </div>
        </div>
        <div class="row f5x-margin-bottom">
            <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
                <h2 class="f-h2-resize">3. La tua proposta potrebbe essere valorizzata molto meglio attraverso il self publishing</h2>
                <p class="lead f-lead-resize">Non per forza la scelta vincente è la pubblicazione attraverso un editore: ci sono progetti per cui il self publishing ci sembra una strada molto più indicata e costruttiva, anche a seconda delle attitudini dell’autore.</p>
                <p class="lead f-lead-resize">Se ti sembra un’ipotesi interessante puoi cominciare a farti un’idea con qualche intervista.</p>
            </div>
        </div>
        <div class="row f5x-margin-bottom">
            <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
                <h2 class="f-h2-resize">4. Abbiamo già in catalogo uno o più titoli sullo stesso argomento o ci stiamo lavorando</h2>
                <p class="lead f-lead-resize">Può capitare che alcuni temi siano più gettonati di altri: tieni sempre d’occhio il nostro catalogo per capire quali aspetti sono meno consueti o battuti.</p>
            </div>
        </div>
        <div class="row f5x-margin-bottom">
            <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
                <h2 class="f-h2-resize">5. La lunghezza della tua proposta non rientra nelle caratteristiche del nostro progetto</h2>
                <p class="lead f-lead-resize">40k Unofficial nasce con l’idea di pubblicare testi “troppo lunghi per un blog e troppo brevi per un libro”. Se la tua ricerca si articola in 5 volumi non fa al caso nostro. Così come se si esaurisce in 140 caratteri.</p>
            </div>
        </div>
    </div>
</section>